body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#carousel{
  max-height: 500px;
}

#home{
  background-color: rgba(201, 233, 255, 0.916);
}
#contactus{
  background-color: rgba(201, 233, 255, 0.916);
}
#service{
  background-color: rgba(201, 233, 255, 0.916);
}
#aboutus{
  background-color: rgba(201, 233, 255, 0.916);
}
#card{
  display:flex;

}
#cardtwo{
  background-color: rgb(145, 202, 255);
 
}
#cardtwo:hover{
  background-color: rgb(32, 63, 113);
  color: rgb(255, 255, 255);
  opacity:70%;
}
#cardzero{
  display: flex;
}
#cardone{
 
  background-color: rgb(145, 202, 255);
 
}
#cardone:hover{
  background-color: rgb(32, 63, 113);
  color: rgb(255, 255, 255);
  opacity:70%;
}
#footer{
  background-color: rgba(201, 233, 255, 0.916);
}
#footer:hover{
  background-color: rgb(21, 43, 83);
  color: white;
}
#text{
  color:black;
}
#text:hover{
  color:white;
}
#navbar{
  background-color:rgb(21, 43, 83) ;
}
#navtext{
  color: rgb(148, 199, 244);
}
#navtext:hover{
  color: #ffffff;
}
